<!DOCTYPE html>
<html land="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <!--CSS file-->
        <link rel="stylesheet" type="text/css" href="static/CSS/Land.css">
        <link rel="shortcut icon" type="image/png" href="static/CSS/covid.png"/>
        <!--JS file for site animations-->
        <script src="static/JS/Land_Covid.js"></script>
        <!--APIs for fonts used on site-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">

        <title>COVID-19 Risk Calculator</title>
    </head>
<body>
    <header>
        <nav id="hamburger">
            <div class="menu" onclick="show()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/risk">Risk Calculator</a></li>
                <li><a href="/viz">Visualization</a></li>
                <li><a href="/forecast">Predictions</a></li>
                <li><a href="/charts">Charts</a></li>
                <li><a href="/team">About</a></li>
                <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">CDC Site</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="outer">
            <div class="landing-text">
                <h1 class="text-center">Covid-19 Risk Calculator</h1>
                <button class="enter-button mt-3">
                    <a href="/home">Enter</a>
                </button>
            </div>
        </div>
    </div>




</body>
</html>