<!DOCTYPE html>
    <html lang="en">
        <head>
<!--set meta data-->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--JavaScript sourcing-->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="static/JS/Land_Covid.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
            <link rel="shortcut icon" type="image/png" href="static/CSS/covid.png"/>
<!--Link stylesheet and font apis-->
            <link rel="stylesheet" type="text/css" href="static/CSS/Covid_Home.css">
            <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">

<!-- Amcharts.com javascript package -->
            <script src="https://www.amcharts.com/lib/4/core.js"></script>
            <script src="https://www.amcharts.com/lib/4/charts.js"></script>
            <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
            <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

            <title>Covid-19 Calculator| Home</title>
        </head>
    <body>
        <header>
            <nav id="hamburger">
                <div class="menu" onclick="show()">
                    <div class="line"></div>
                    <div id="animate-line" class="line"></div>
                    <div class="line"></div>
                </div>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/risk">Risk Calculator</a></li>
                    <li><a href="/viz">Visualization</a></li>
                    <li><a href="/forecast">Predictions</a></li>
                    <li><a href="/charts">Charts</a></li>
                    <li><a href="/team">About</a></li>
                    <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">CDC Site</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div id="welcome">
                <h1 class="text-center">Are You at Risk?</h1>
            </div>
            <div>
                <div id="para"class="rounded shadow-lg bg-light mb-4">
                    <div id="about" class="ml-3 mt-2">
                        <h3>About the Risk Calculator</h3>
                    </div>
                        <p class="col-sm-12">
                            The Covid-19 virus for the last few months has caused many people around the world to change their normal habits.
                            It is teaching us to be more observant on the activities we do and the people we meet with. 
                            This new habit can be a good thing, but can also cause anxiety for people.
                            For those who are feeling ill, but do not know if they should go see a doctor may grow in anxiety.
                            The fear of having Covid-19 can cause sleepless nights for some. 
                            The Risk Calculator was created to show information on what people may do in regards to symptoms, but as well show only data without the negative externalities of media. 
                            <strong>Disclaimer: This is not medical advice, and the models mentioned in the following are not 100% accurate for information on Covid-19 is still dynamic.</strong>
                            The Risk Calculator uses various machine-learning models to help predict if someone may need to go the doctor to see if they have the virus. 
                            The models used for the Risk Calculator are the decision-tree model, the random forest model, and the K-nearest neighbors model.
                            The models are not 100% accurate, and are still in beta due to the ever changing data incorporated with Covid-19. 
                            This is just here to show information.
                        </p>
                </div>
            </div>
            <div id="tableau-box" class="rounded shadow-lg bg-light mt-5">
                <div id="tab-test" class="mt-2 ml-3 mb-2">
                    <h3>Positive Covid-19 Cases by States</h3>
                </div>
                <div id="bar-race">
                    <!--Where the chart will go-->
                    <div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/1754911" data-url="https://flo.uri.sh/visualisation/1754911/embed"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                </div>
                
            </div>
            
        </div>
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <div class="container text-center">
              <small>Copyright &copy; CoRiT</small>
              <p class="col-lg-12 col-sm-12">The contents of the Risk Calculator, such as text, graphics, images, and other materials created by the CoRiT Team or obtained from the CoRiT’s licensors, and other materials contained on the CoRiT Site (collectively “Content”) are for informational purposes only. The Content is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on the CoRiT site!

                If you think you may have a medical emergency, call your doctor or 911 immediately. CoRiT does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may mentioned on the Site. Reliance on any information provided by CoRiT, the CoRiT team, others appearing on the site at the invitation of CoRiT, or other visitors to the site is solely at your own risk.</p>
            </div>
        </footer>
            
             <!-- D3 JavaScript -->
             
             <script src="https://d3js.org/d3.v5.min.js"></script>
             <script src="https://d3js.org/d3.v5.js"></script>
             <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
             <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
             <!-- <script type="text/javascript" src="assets/JS/am_chart.js"></script> -->
             <!-- <script src="static/JS/covid_human.js"></script> -->
        </body>
    </html>